<section class="dashboard">
    <div class="dashboard-container">

        <p class="greeting">
            Welcome,
            <strong>{{user.name.firstname}} {{user.name.lastname}}</strong>!
        </p>
        <ul class="dashboard-tabs-list">
            <li class="dashboard-tab selected" ng-click="showHome()">Home</li>
            <li class="dashboard-tab blurred" ng-click="showPayment()" ng-show="userStatus">Payment</li>
            <li class="dashboard-tab blurred" ng-click="showSettings()">Settings</li>
        </ul>

        <db-main-dir ng-show="homeTab"></db-main-dir>
        <db-payment-dir ng-show="paymentTab"></db-payment-dir>
        <db-settings-dir ng-show="settingsTab"></db-settings-dir>
    </div>
</section>
