<section class="information-container">
  <div class="information-wrapper">

    <h2>TRADITIONAL BRACES</h2>
    <hr/>

    <p>Braces use constant, gentle pressure, applied to your teeth over time, to move them into proper position. Your braces are at work every moment of your orthodontic treatment. While braces are available in a variety of styles, including metal, plastic and ceramic, they all have the same goal: To correctly align your teeth and jaws for enhanced aesthetic appeal and for better oral health.</p>

    <h3>METAL BRACES</h3>

    <p>Metal braces are popular with children and teens, and are smaller and more comfortable than ever before. Traditional metal braces feature two main components: the brackets that are placed on each tooth and the arch wire that is threaded through them. As the wire applies pressure to one side of the tooth, the jawbone on the other side gives way. This causes the tooth to move and new bone to grow behind it. Elastics (rubber bands) are used in conjunction with braces, exerting a constant force to move teeth. Elastics must be worn at all times and changed every day in order to maintain the proper force.</p>

    <h3>LINGUAL BRACES</h3>

    <p>Lingual braces work just like traditional metal braces, but are placed behind teeth instead of on the front. This allows them to be completely hidden, so no one knows that you are wearing them. Typically, anyone who could have traditional metal braces is also a good candidate for lingual braces.</p>

    <h3>In-Ovation® System Braces</h3>

    <p>Also called “self-ligating”, these braces do not require elastics or ties, but instead use free-sliding technology to reduce pressure, friction, and treatment time for the patient.</p>

    <div class="bottom-page-info">If you are interested in enhancing your smile, call us to find out about the many orthodontic options that we offer!</div>

  </div>
</section>
