
<section class="information-container">
  <div class="information-wrapper">

    <h2>WHY CHOOSE OUR PRACTICE?</h2>
    <hr/>

    <h5>When it comes to picking a dentist, we know that you have options. Personalized, gentle, comprehensive patient care is our number one priority.</h5>

    <p><strong>Here are just a few things that make our practice unique:</strong></p>

    <h3>CARE AND COMMITMENT</h3>
    <p>From the front office to the exam room, our practice is made up of professionals who take your oral health very seriously. Using state of the art equipment designed with safety and efficiency in mind, we are able to offer top-notch care. As you walk through our office, you will notice that everything is clean, comfortable and thoroughly sterilized. Your safety and comfort are our priority.</p>

    <h3>HONESTY AND AFFORDABILITY</h3>
    <p>We know that the cost of care can be confusing. In addition to offering a number of in-office payment options to fit your budget, we also give you up-front cost information on your treatment ahead of time. We are in network with a variety of insurance plans, and we offer various forms of dental financing with credit available in time frames that fit your needs. We are happy to help you navigate your dental insurance and alternative payment options.</p>

    <h3>EASY ACCESS TO DENTAL CARE AND INFORMATION</h3>
    <p>We know that your time is valuable to you, and that’s why we offer extended office hours on select days, dental appointment reminders, and a quick turnaround time on calls and appointment requests. We are happy to answer any questions or concerns in the office, over the phone or via email.</p>

    <h3>COMPREHENSIVE DENTAL CARE IN ONE LOCATION</h3>
    <p>At our practice, we are qualified to handle all aspects of your care, so you are always surrounded by people that you trust. If we must refer out, we promise to send you to carefully vetted colleagues who apply the same professional principles in their office that we do in ours.</p>

    <h3>COMFORT</h3>
    <p>We respect and understand that many patients experience dental anxiety. At our office, we do everything we can to make sure that your experience is as enjoyable as possible. By communicating clearly what you can expect during your treatment, we are often able to alleviate dental fear. We encourage you to bring headphones and music to listen to during your treatment and ask us about dental sedation options.</p>

    <h3>PERSONALIZED SERVICE</h3>
    <p>At our practice, you aren’t just a patient. We take an interest in you and your oral health needs. We think you’ll find a friend in your dental professional during your visit!</p>

    <div class="bottom-page-info"> Give us a call or register today! You’ll be happy you chose us for your dental needs!</div>
  </div>
</section>
