<section class="information-container">
    <div class="information-wrapper">
        <h2>ORTHODONTIC PATIENT INFORMATION</h2>
        <hr/>
        <p>
            Orthodontic problems require specialized care. Patients who have dental and facial irregularities should see an orthodontist. Our specific qualifications in the design, application and control of corrective appliances will bring teeth, lips and jaws
            into proper alignment for optimal facial balance.
        </p>
        <p>
            Our site provides important information about our practice that will help you become familiar with orthodontics. Our office is committed to providing you with the highest quality of care. We will make every effort to ensure that your first visit with
            us is a comfortable and informative experience.
        </p>
        <p>
            The practice of Dr. Your Last Name(s) has the specialized equipment, facility and staff to properly address today’s most demanding orthodontic needs in a warm and caring environment. We are located at Address, City State. Dr. Your Last Name(s) can be
            reached at 555-555-5555. Our fax number is 777-777-7777.
        </p>
        <p>
            Our goal is to provide you with the highest standard of treatment and an enjoyable experience. We are happy that you are visiting our web site. Please feel free to e-mail or call us with any questions. Thank you for stopping by!
        </p>
        <h3>MISSION STATEMENT</h3>
        <p>
            Our orthodontic practice is dedicated to providing the finest quality orthodontic treatment in a friendly, enjoyable and caring environment. It is our goal to:
        </p>
        <ul>
            <li>Create extremely satisfied patients.</li>
            <li>Create wonderful smiles and excellent bites.</li>
            <li>Create raving and confident referrals.</li>
            <li>Create an enthusiastic and dedicated staff.</li>
        </ul>
    </div>
</section>
