<section class="information-container">
    <div class="information-wrapper">

        <h2>PATIENT REGISTRATION</h2>
        <hr/>

    <p>You may preregister with our office by filling out our secure online Patient Registration Form. After you have completed the form, please make sure to press the Submit button at the bottom to automatically send us your information. On your first
        visit to our office, we will have your completed form available for your signature. The security and privacy of your personal data is one of our primary concerns and we have taken every precaution to protect it.
    </p>

    <div class="page-links-wrapper">
        <div class="page-link-button" ui-sref="account.signin">Register Online</div>
    </div>

</div>
</section>
