<section class="information-container">
  <div class="information-wrapper">

    <h2>FINANCING YOUR CARE</h2>
    <hr/>

    <p>In our office, we offer high quality care and payment options that work for all of our patients. Below you will find a list of insurance and payment plans that we accept. If you don’t see your preferred method on our list, please call our office to find out what other options may be available to you.</p>

    <h3>DENTAL INSURANCE PLANS WE WORK WITH:</h3>
      <ul>
        <li>Delta Dental</li>
        <li>Guardian</li>
        <li>Humana</li>
        <li>Metlife</li>
        <li>Ameritas</li>
        <li>Cigna Dental</li>
        <li>Renaissance Dental</li>
        <li>Aetna</li>
        <li>Careington</li>
        <li>Dental Plans</li>
      </ul>


    <h3>PAYMENT OPTIONS:</h3>
    <p>Flexible Payment Plan: Pay a portion up front, and the rest over an agreed upon time period.
    No interest flex plan: Pay in a short time frame and receive no interest charge.
    Low interest flex plan: Pay off your bill over a longer period of time with low interest.
    Cash Discount: Pay upfront with cash and receive a discount.
    Check or Credit Card: Always accepted.</p>

    <h3>OTHER OPTIONS:</h3>
    <ul>
      <li><strong>CareCredit:</strong> Apply online (www.carecredit.com) or in our office.</li>
    </ul>

    <h3>PLEASE NOTE: PAYMENT IS DUE AT THE TIME OF SERVICE.</h3>
    <p>As a courtesy to you, we will bill your insurance company and track claims. Please keep us informed of any changes to your insurance plan. You are responsible for the fees charged by our office, no matter what your insurance coverage may be. Most insurance companies should respond to the claim within four to six weeks. Any remaining cost is your responsibility.</p>

    <div class="bottom-page-info">We are here to help! Please call for more information about financing your oral health needs in our office!</div>

  </div>
</section>
