<section class="information-container">
  <div class="information-wrapper">
    <h2>ADULTS AND BRACES</h2>
    <hr/>

    <h3>ABOUT ADULTS AND BRACES</h3>
    <p>Adult Man With BracesBraces aren’t just for kids anymore. In fact, one in five orthodontic patients is over 21. With the invention of more discreet orthodontic appliances such as clear braces and aligners, adults feel comfortable stepping out in public during all phases of treatment.</p>

    <h3>SPECIAL CONSIDERATIONS FOR ADULTS</h3>
    <p>While adults can experience the same results as children and teens in terms of achieving a beautiful, straight smile, the treatment often takes longer. This is due to several factors. Because the jawbone in an adult is fully formed, it is somewhat less receptive to orthodontic treatment. In addition to that, gum disease, which is generally unique to the adult population, may hinder the progress of orthodontic treatment.</p>

    <h3>PRIOR TO TREATMENT</h3>
    <p>Before beginning orthodontic treatment, we will check first to see what underlying misalignment issues exist, and we will also check for pre-existing dental problems. We recommend that any oral health issues such as tooth decay and gum disease be remedied prior to orthodontic treatment.</p>

    <h3>TYPES OF BRACES FOR ADULTS</h3>
    <p>While traditional metal braces are sometimes used for adults, our patients typically choose a more discreet, convenient orthodontic method. Options include clear or tooth-colored ceramic braces, Invisalign® clear aligners, or lingual braces, which are fixed to the inside of teeth and therefore invisible when you smile.</p>

    <div class="bottom-page-info">We welcome patients of all ages in our orthodontic practice. Give us a call for more information on how we can transform your smile!</div>
  </div>
</section>
