<div class="dashboard-info-container">
    <div class="dashboard-section-wrapper center-table">
        <p>
            Pending Patients
        </p>
        <p class="pcenter" ng-show="!pendingPatientsBool">
            No pending patients
        </p>

        <div class="patient-table" ng-show="pendingPatientsBool">
            <div class="patient-row-hr">
                <div class="patient-cell-hr">
                    Last Name
                </div >
                <div class="patient-cell-hr">
                    First Name
                </div >
                <div class="patient-cell-hr">
                    Status
                </div>
            </div>
            <div class="patient-row" ng-repeat="patient in pendingPatientList" ng-click="showPatient($index, 'pending')">
                <div class="patient-cell">
                    {{patient.name.lastname}}
                </div >
                <div class="patient-cell">
                    {{patient.name.firstname}}
                </div >
                <div class="patient-cell">
                    {{patient.status}}
                </div>
            </div>
        </div>
    </div>
    <div class="seperator-horizontal"></div>
    <div class="dashboard-section-wrapper center-table">
        <p>
            Patient Search
        </p>
        <div class="patient-search-container">
          <form>
            <input class="patient-search-field" type="text" placeholder="last name" ng-model="queryLastname">
            <input class="patient-search-field" type="text" placeholder="first name" ng-model="queryFirstname">
            <button class="dashboard-button" ng-click="searchUsers(queryLastname, queryFirstname)">
              search
            </button>
          </form>
        </div>
        <div class="patient-search-results" ng-show="searchedPatientsBool">
            <div class="table-container">
              <div class="patient-table">
                  <div class="patient-row-hr">
                      <div class="patient-cell-hr">
                          Last Name
                      </div >
                      <div class="patient-cell-hr">
                          First Name
                      </div >
                      <div class="patient-cell-hr">
                          Status
                      </div>
                  </div>
                  <div class="patient-row" ng-repeat="patient in searchedPatientList" ng-click="showPatient($index, 'search')">
                      <div class="patient-cell">
                          {{patient.name.lastname}}
                      </div >
                      <div class="patient-cell">
                          {{patient.name.firstname}}
                      </div >
                      <div class="patient-cell">
                          {{patient.status}}
                      </div>
                  </div>
              </div>
            </div>
        </table>
    </div>
</div>
</div>
