<section class="dashboard">
    <div class="dashboard-container">

        <p class="greeting">
            Welcome,
            <strong>Dr {{user.name.firstname}} {{user.name.lastname}}</strong>!
        </p>
        <ul class="dashboard-tabs-list">
            <li class="dashboard-tab selected" id="home" ng-click="showHome()">Home</li>
            <li class="dashboard-tab blurred" id="patient" ng-click="showPatientTab()" ng-show="patientTabTab">Patient</li>
        </ul>

        <db-dr-home-dir ng-show="homeTab"></db-dr-home-dir>
        <db-dr-patient-dir ng-show="patientTab"></db-dr-patient-dir>
    </div>
</section>
