<navhead-dir></navhead-dir>

<div class="mid-page-links-container">
  <div class="title">West Street Specialists</div>
    <div class="main-page-link-button toggle-hidden-button" ng-repeat="sectionlink in homesectionlinks">
      {{sectionlink}}
    </div>
</div>

<div class="home-practice-info-container">
  <img src="./img/demo-logo2.png" alt="demo-logo" />
  <p>
    • Lyman Wyoming •
  </p>
</div>

<div class="map">MAP</div>

<div class="sign-up-contact-container">
  <div class="contact-info-wrapper">
    <h3>CONTACT US TODAY</h3>
    <p>
      The first step towards a beautiful, healthy smile is to schedule an appointment. Sign in with Facebook or register an account to schedule a consultation online, or contact us by phone to speak with with one of our receptionists directly.
    </p>
    <div class="page-links-wrapper">
      <div class="page-link-button" ng-click="toggleRegisterForm()">Register Online</div>
      <div class="page-link-button"><a href="tel:9284200056"></a>Call Us</div>
    </div>
  </div>
  <div class="register-form-container">
    <div class="facebook-register"></div>
    <form class="" action="index.html" method="post">

    </form>
  </div>

</div>

<footerdir></footerdir>
