<navhead-dir></navhead-dir>

<section class="mid-page-links-container">
  <p>West Street Specialists</p>
  <div class="mid-page-links-wrapper">
    <div class="mid-page-links" ng-repeat="sectionlink in homesectionlinks">
      <p>{{sectionlink}}<p>
    </div>
  </div>
</section>

<section class="home-practice-info-container">
  <div class="demo-logo-wrapper left">
    <img src="./img/demo-logo2.png" alt="demo-logo" />
  </div>
  <div class="company-info">
    Aliquet tristique vel in ac dignissim enim amet habitasse lorem tortor hac scelerisque augue enim, enim nascetur augue cras aenean purus tortor eu tortor? Magna ut scelerisque ultrices? Nec tristique a arcu. Ac nascetur. Ut ut adipiscing amet hac pulvinar montes elementum. Vut risus? Odio nec ridiculus elementum, aenean, a?
  </div>
</section>


<!-- {"@context":"http://schema.org/","@id":"https://fast.wistia.net/embed/iframe/rq7c3wi82p","@type":"VideoObject","duration":"PT21S","name":"New York Skyline","thumbnailUrl":"https://embed-ssl.wistia.com/deliveries/0a33265c8a1fa418367011682267981431e003f6.jpg?image_crop_resized=640x362","embedUrl":"https://fast.wistia.net/embed/iframe/rq7c3wi82p","uploadDate":"2014-10-21","description":"a Dental Freeway Video Library video from pbhs"}
{"@context":"http://schema.org/","@id":"https://fast.wistia.net/embed/iframe/p395oq5xs1","@type":"VideoObject","duration":"PT19S","name":"New York City Street","thumbnailUrl":"https://embed-ssl.wistia.com/deliveries/a79a3145784179518bf4062a1381e28408128e5b.jpg?image_crop_resized=640x361","embedUrl":"https://fast.wistia.net/embed/iframe/p395oq5xs1","uploadDate":"2014-10-30","description":"a Dental Freeway Video Library video from pbhs"}
{"@context":"http://schema.org/","@id":"https://fast.wistia.net/embed/iframe/ckz6j5fphi","@type":"VideoObject","duration":"PT17S","name":"New York Skyline","thumbnailUrl":"https://embed-ssl.wistia.com/deliveries/c1184a749b8a82252bac443f014d3f2432a39640.jpg?image_crop_resized=640x362","embedUrl":"https://fast.wistia.net/embed/iframe/ckz6j5fphi","uploadDate":"2014-10-30","description":"a Dental Freeway Video Library video from pbhs"} -->
