<section class="information-container">
  <div class="information-wrapper">
    <h2>CHILDREN AND BRACES</h2>
    <hr/>

    <h3>ABOUT CHILDREN AND BRACES</h3>
    <p>Child With BracesChildren and teenagers are ideal candidates for orthodontic treatment. Because the jawbone is soft and still growing, a young patient’s smile is particularly receptive to re-alignment. In addition to enhanced aesthetics, a straighter smile also offers significant health benefits including improved speech and better access for oral hygiene.</p>

    <h3>WHEN SHOULD YOU SEE AN ORTHODONTIST?</h3>
    <p>The American Association of Orthodontists recommends a visit to the orthodontist at age 7 (or earlier if oral or facial irregularities are present). Early intervention allows us to guide the growth of the jawbone, ensuring that permanent teeth come in straight. We do this by creating more space where teeth are crowded and regulating the width of the upper and lower jaw. This helps to avoid impacted teeth and other costly and painful complications later on in life.</p>

    <h3>WHAT CAUSES MISALIGNMENT?</h3>
    <p>Most bite issues are inherited, but they can also be caused or exacerbated by habits and behaviors that are common with young children including finger sucking, overuse of pacifiers, poor nutrition and poor oral hygiene.</p>

    <h3>DIAGNOSIS</h3>
    <p>To determine if your child will benefit from braces, we will perform several painless diagnostic procedures. This initial phase may include panoramic X-rays, bite impressions, and computer-generated images of the head, neck and jaw. These steps also help us to decide on the best treatment option for your child.</p>

    <h3>TREATMENT</h3>
    <p>Braces are common among children. For this reason, the embarrassment factor is low when compared to adults, and therefore we often use traditional metal braces on children. Colorful bands are added, giving kids a new and fun way to express themselves! As a child moves into the teen years, however, he or she may request a more discreet treatment method such as Invisalign® or clear ceramic braces.</p>

    <div class="bottom-page-info">We are here to make your child’s orthodontic experience as comfortable and successful as possible. Please give us a call for more information.</div>
  </div>
</section>
