<section class="information-container">
  <div class="information-wrapper">
    <h2>ORTHODONTIC TREATMENT</h2>
    <hr/>

    <h3>WHAT IS ORTHODONTICS?</h3>

    <p>Orthodontics is a dental specialty that focuses on the diagnosis and treatment of tooth misalignments and jaw irregularities (malocclusions) using braces, clear aligners and other appliances. Not just for aesthetic enhancement, orthodontics also serves to improve a patient’s overall oral health for a lifetime, and can even help with speech impediments. A properly aligned bite makes it easier to eat, smile and speak!</p>

    <h3>WHAT IS THE DIFFERENCE BETWEEN A DENTIST AND AN ORTHODONTIST?</h3>
    <p>An orthodontist is a dentist who chooses to specialize in the alignment of teeth, attending an additional three years of training beyond dental school in a university with an orthodontic residency program. While some general dentists do offer braces to patients, an orthodontist is the expert in recognizing and treating tooth alignment and bite issues.</p>

    <h3>HOW LONG DOES ORTHODONTIC TREATMENT TAKE?</h3>
    <p>Treatment typically takes 6-30 months and is dependent upon age, severity of alignment issues, and the treatment method that is used.</p>

    <h3>WHAT TYPES OF PROBLEMS ARE TREATED WITH ORTHODONTICS?</h3>
    <p>Some of the most common problems that can be fixed with braces are overbites, underbites, overcrowding, and spacing issues.</p>

    <h3>WHAT IS THE FIRST STEP?</h3>
    <p>Orthodontic problems, which often result from genetic factors but can be exacerbated by environmental factors such as finger sucking, must be diagnosed before treatment begins. Proper diagnosis involves taking photographs, x-rays, and dental impressions. These painless diagnostic procedures enable us to make informative decisions about which treatment is right for you.</p>

    <p>We recognize that outstanding results are dependent on maximizing the coordination of care between you and our practice. We are committed to delivering the best possible service in order for you to achieve your orthodontic objectives.</p>

  </div>
</section>
