<section class="information-container">
  <div class="information-wrapper">

    <h2>CLEAR CERAMIC BRACES</h2>
    <hr/>

    <p>Just like traditional braces, clear ceramic braces feature two important components: First, a clear or tooth-colored bracket is attached to each tooth. Next, we thread a tooth-colored wire through the brackets. The brackets may be made of a variety of ceramic and composite materials, but you will usually hear us refer to them as “ceramic”. Please Note: because these materials are more brittle and sensitive to breakage than stainless steel, a lighter force is used on your teeth during treatment, which may result in a slightly longer treatment time.</p>

    <p><strong>Care for ceramic braces is the same as with traditional braces:</strong></p>

    <ul>
    <li>Elastics must be worn at all times and changed daily in order to maintain a consistent force on the teeth.</li>
    <li>Hard, sticky, chewy or crunchy foods must be avoided during treatment time.</li>
    <li>Soreness is normal for several days following the placement of new braces and adjustment appointments. Gargling salt water and over-the-counter pain medications cab help to relieve soreness.</li>
    <li>Braces and wires should be brushed and flossed after each meal.</li>
    <li>Special mouth guards should be worn during sports play.</li>
    <li>If you feel any sharp pain or a sore develops on the soft tissues of your mouth, call us so that we can remedy the situation as soon as possible.</li>
  </ul>

  </div>
</section>
