@import 'gvariables';
@import '1fonts';
.seperator-horizontal {
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
.margintop {
    margin-top: 10px;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-margin-bottom {}
.pcenter {
    text-align: center;
    font-size: 30px;
}
.dashboard {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    background-color: #F0F0F0;
}
.greeting {
    margin-bottom: 25px;
}
.selected {
    background-color: $blue;
    color: white;
    z-index: 4;
}
.blurred {
    background-color: white;
    color: $textblack;
}
.dashboard-container {
    width: 95%;
    margin: auto;
}
.dashboard-tabs-list {
    display: inline-block;
    .dashboard-tab {
        display: inline-block;
        padding: 15px;
        max-width: 100px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        position: relative;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.21);
        z-index: 0;
    }
}
// to @extend
.dashboard-content-container {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: $transpWhite;
}
// end
.dashboard-info-container {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $blue;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.21);
    .center-graph {
      text-align: center;
    }
    .dashboard-section-wrapper {
        padding: 25px;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-size: 18px;
    }
    p {
        margin-bottom: 15px;
    }
    .dashboard-button-container {
        text-align: center;
    }
    .dashboard-button {
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #F8891C;
        vertical-align: middle;
        cursor: pointer;
        color: white;
        border: none;
    }
    #ett-graph {
        max-width: 450px;
        max-width: 450px;
    }
    //pt dashboard main styles
    .next-appointment-container {
        @extend .dashboard-content-container;
        padding: 20px;
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        //loader
        .loading-box {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 5px;
            background-color: $blue;
        }
        .container,
        .icon,
        .loader {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .loader {
            perspective: 200px;
        }
        .container {
            transform: none;
            margin-top: -40px;
            margin-left: -40px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #eedede;
            transform: translate3d(0,0,0);
        }
        .check {
            position: absolute;
            font-size: 40px;
            margin-top: -20px;
            margin-left: -14px;
            color: #000;
            display: none;
        }
        @keyframes spinner {
            0% {
                stroke-dashoffset: 440;
            }
            50% {
                stroke-dashoffset: 220;
            }
            100% {
                stroke-dashoffset: 0;
            }
        }
        .curgle {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            svg {
                transform: rotate(-90deg);
            }
            svg circle {
                stroke: #000;
                stroke-width: 3px;
                stroke-dasharray: 220; // Magic number apparently
                stroke-dashoffset: 220;
                animation: spinner 2s ease-in-out infinite;
            }
        }
        //loader end
        h2,
        h3 {
            margin-bottom: 10px;
        }
        h2 {
            font-size: 40px;
        }
        h3 {
            font-size: 30px;
        }
        h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .dashboard-button {
            // margin-bottom: 0 !important;
            max-width: 300px;
            margin: auto;
        }
    }
    .report-card-container {
        .report-card-entry {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            .entry-date {
                font-family: 'PT Sans';
                font-size: 15px;
                margin-left: 6px;
                margin-bottom: 5px;
            }
            .entry-text {
                display: inline-block;
                padding: 5px 10px;
                background-color: white;
                border-radius: 5px;
                font-family: 'PT Sans', sans-serif;
                font-size: 20px;
                color: $textblack;
                line-height: 20px;
            }
        }
    }
    //pt dashboard payment styles
    .line-item {
        line-height: 40px;
    }
    .balance-title {
        display: inline-block;
        margin: 0;
    }
    .balance-due {
        margin-top: 20px;
    }
    .account-balance-info {
        display: inline-block;
        float: right;
    }
    .table-container {
        text-align: center;
    }
    table {
        display: inline-block;
        background-color: white;
        border-radius: 5px;
        padding: 0 20px;
        color: $textblack;
        text-align: center;
        tr {
            border-top: 1px solid $textblack;
            th {
                cursor: pointer;
            }
            td,
            th {
                padding: 10px;
                vertical-align: middle;
            }
        }
        .table-header {
            border-top: none;
        }
    }
    //patient settings styles
    .email-section {
        margin-bottom: 40px;
    }
    .account-info {
        p {
            margin: 0 !important;
        }
        .account-info-section {
            width: 100%;
            .account-info-section-header {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid white;
                padding-bottom: 5px;
                margin-bottom: 10px;
                .change {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 14px;
                    cursor: pointer;
                    color: $textblack;
                }
            }
        }
        .contact-info {
            font-family: 'PT Sans', sans-serif;
            text-align: center;
        }
        .update-info-field {
            display: block;
            margin: auto;
            text-align: center;
        }
    }
    // doctor dashboard
    #close-patient {
        width: 60px;
        display: block;
        margin: 20px auto auto;
    }
    .patient-table {
        width: 100%;
        display: block;
        background-color: white;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-collapse: collapse;
        color: $textblack;
        .patient-row-hr {
            border-bottom: 1px solid $grey;
            border-radius: 1px;
        }
        .patient-cell-hr {
            display: inline-block;
            width: 32%;
            text-align: center;
            padding: 10px;
            cursor: pointer;
        }
        .patient-row:hover {
            background-color: rgba(0, 0, 0, 0.05);
            cursor: pointer;
        }
        .patient-cell {
            width: 32%;
            display: inline-block;
            padding: 10px;
            border-collapse: collapse;
            text-align: center;
        }
    }
    .patient-search-container {
        text-align: center;
    }
    .patient-search-field {
        display: inline-block;
        width: 48%;
        margin-bottom: 10px;
    }
    .patient-search-results {
        padding-top: 20px;
    }
    .info-line {
        height: 28px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .info-align-right {
        text-align: right;
        display: inline-block;
        width: 48%;
        padding-right: 10px;
    }
    .info-align-left {
        text-align: left;
        display: inline-block;
        width: 44%;
        padding-left: 10px;
    }
}
.create-note {
    text-align: center;
    textarea {
        width: 70%;
    }
    .dashboard-button {
        height: 60px;
        margin-bottom: 0;
        p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.schedule-appointment {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    .dashboard-button {
        height: auto;
        margin-bottom: 0;
        display: inline-block;
    }
    .appointment-table {
        padding-top: 20px;
    }
    .appointment-row {
        width: 80%;
        height: 100%;
        // padding-top: 10px;
        // padding-bottom: 10px;
        padding: 10px 20px 10px 1px;
        margin: auto;
        display: flex;
        color: $textblack;
        cursor: pointer;
        background-color: rgba(255,255,255, 0.5);
        background-image: linear-gradient( 90deg, #FFD32E 10px, #fff 10px, #fff 11px, transparent 11px);
        margin-bottom: 3px;
    }
    .appointment-row:hover {
        background: linear-gradient(90deg, #98DE25 10px, #A0C0D4 10px, #A0C0D4 11px, transparent 11px);
        background-color: rgba(0 ,0 ,0 , 0.05);
    }
    .appointment-row-selected {
        background: linear-gradient(90deg, #98DE25 10px, #A0C0D4 10px, #A0C0D4 11px, transparent 11px);
        background-color: rgba(0 ,0 ,0 , 0.05);
    }
    .appointment-cell {
        width: 33%;
        height: 100%;
        margin: auto;
        float: left;
    }
}
//date picker styles
md-datepicker {
    height: auto;
    margin: auto auto auto -15px;
    background: transparent;
}
.md-datepicker-calendar {
    position: relative;
}
.md-button {
    min-height: 8px;
}
.md-button:not([disabled]).md-focused {
    background: trasparent;
}
.md-datepicker-input-container {
    padding: 5px 10px;
    margin: 0;
    border-radius: 2px;
}
.md-datepicker-triangle-button {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    top: 50%;
    transform: translateY(-50%);
}
.md-calendar-day-header th {
    background-color: #F8891C;
    vertical-align: middle;
}
.md-datepicker-input-container {
    background-color: white;
}
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #105FA8;
}
.md-datepicker-open .md-datepicker-calendar-icon,
.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon {
    fill: #105FA8;
}
