@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato);

html {
  font-family: 'Lato', sans-serif;
  color: $textblack;
  font-size: 18px;
}

h1,h2,h3,h4,h5 {
  font-family: 'PT Sans', sans-serif;
}

header {
  font-family: 'PT Sans', sans-serif;
}
