@import 'gvariables';

.footer {
  width: 100%;
  background-color: $black;
}

.footer-nav-links-container {
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.footer-nav-link {
  display: inline-block;
  margin: 5px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.footer-social-links-container {
  width: 100%;
  border-top: 1px solid $grey;
  text-align: center;
}

.footer-social-links-wrapper {
  @extend .vertical-center;
  height: 100%;
  margin: auto;
  text-align: center;
}

.footer-social-link {
  width: 70px;
  height: 70px;
  display: inline-block;
  background-color: $black;
  cursor: pointer;
  transition: background-color .7s ease;

  img {
    @extend .vertical-center;
    height: 30px;
  }
}

.legal {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 10px;
  background-color: $black;
  border-top: 1px solid $grey;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: $grey;
  text-align: center;
}
