.header-contact-container {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  background: $black;
  text-align: center;

  p {
    width: auto;
    margin: auto;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: pointer;
  }
}

.header-social-link {
  width: 45px;
  height: 45px;
  display: inline-block;
  background-color: $blue;
  cursor: pointer;
  transition: background-color .7s ease;

  img {
    @extend .vertical-center;
    height: 20px;
  }
}

.main-logo {
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: rgba(199, 228, 246, 0.2);

    img {
      height: 90%;
      width: auto;
    }
}

.header-banner-container {
  width: 100%;
}

.main-video {
  width: 100%;
  max-height: 90vh;
}

.not-home {
  background-color: $blue;
}
