// start body styles
.mid-page-links-container {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;

  p {
    font-family: 'PT Sans', sans-serif;
    font-size: 44px;
    color: #333333;
  }
}

.page-link-button {
  height: 50px;
  width: 49%;
  min-width: 130px;
  max-width: 240px;
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.main-page-link-button {
  @extend .page-link-button;
  width: 240px;
  margin: 5px;
}

.page-link-button:hover {
  background-color: $blue;
  color: white;
  border: 1px solid $blue;
}

.toggle-hidden-button {
  z-index: -2;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.home-practice-info-container {
  width: 100%;
  padding: 20px 0;
  background-color: $blue;
  text-align: center;
  color: white;

  img {
    margin-bottom: 15px;
  }
}

.map {
  width: 100%;
  height: 350px;
  background-color: #F0EDE5;
  border: 2px solid grey;
  text-align: center;
}

.sign-up-contact-container {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: white;
  text-align: center;
  color: $textblack;

  .contact-info-wrapper {
    width: 80%;
    margin: auto;
  }

  h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: .75em;
  }

  p {
    font-size: 18px;
    line-height: 29px;
    text-align: left;
    margin-bottom: .75em;
  }
}

.information-container {
  width: 100%;
  padding: 40px 0;
  background-color: white;
  border-top: 1px solid $grey;
  text-align: center;
  .information-wrapper {
    width: 85%;
    margin: auto;
    h2 {
      font-size: 44px;
    }
    h3 {
      margin: 25px 0;
      font-size: 30px;
    }
    p {
      margin: 25px 0;
      text-align: left;
      line-height: 24px;
    }
    ul {
      list-style: disc;
      text-align: left;
      li {
        margin: 20px 0;
      }
    }
  }
}

.bottom-page-info {
  padding: 20px;
  background-color: $blue;
  color: white;
  text-align: center;
}


@media (min-width: 860px) {
  .mid-page-links-container {
  }
}

// end body styles
