<div class="dashboard-info-container">
    <div class="dashboard-section-wrapper" ng-show="!userStatus">
        <p class="pcenter">
            WELCOME TO THE PATIENT DASHBOARD
        </p>
        <div class="dashboard-button-container">
            <div class="dashboard-button" ng-click="startSchedule = !startSchedule" ng-show="showConsult">
                Schedule Free Consultation
            </div>
            <div class="dashboard-button">
                <a href="./assets/forms/patient-form.pdf" target="_blank">New Patient Paperwork</a>
            </div>
        </div>
    </div>
    <div class="dashboard-section-wrapper center-graph" ng-show="userStatus">
        <canvas id="ett-graph" width="300" height="300" max-width="450" max-height="450"></canvas>
    </div>
    <div class="seperator-horizontal" ng-show="startSchedule"></div>
    <div class="dashboard-section-wrapper" ng-show="startSchedule">
        <p>
            NEXT APPOINTMENT
        </p>
        <div class="next-appointment-container">
            <div class="loading-box">
            </div>
                <div class="loader">
                    <div class="container"></div>
                    <div class="icon">
                        <span class="check">✓</span>
                    </div>

                    <div class="curgle">
                        <svg width="80" height="80">
                            <circle cx="40" cy="40" r="35" stroke="#000" fill="none"></circle>
                        </svg>
                    </div>
                </div>
            <h3 ng-show="!appointmentExists">No Appointments Scheduled</h3>
            <h2>{{user.appointment.date | date : 'MMM d'}}</h2>
            <h3>{{user.appointment.date | date : 'shortTime'}}</h3>
            <h4 ng-show="appointmentExists">{{user.appointment.type}}
                Appointment {{user.appointment.duration}}
                mins</h4>
            <div class="dashboard-button-container">
                <div class="dashboard-button" ng-show="!appointmentExists" ng-click="scheduleAppointmentBool = !scheduleAppointmentBool">schedule</div>
                <div class="dashboard-button" ng-show="appointmentExists" ng-click="scheduleAppointmentBool = !scheduleAppointmentBool">reschedule</div>
                <div class="dashboard-button" ng-show="appointmentExists" ng-click="cancelAppointment()">cancel appointment</div>

            </div>
            <div class="seperator-horizontal margintop" ng-show="scheduleAppointmentBool"></div>
            <div class="schedule-appointment" ng-show="scheduleAppointmentBool">
                <h4>Select a date:</h4>
                <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>

                <div class="dashboard-button" ng-click="getAppointments(myDate)">submit</div>

                <div class="appointment-table" ng-show="searchAppointmentsBool">
                    <div class="appointment-row" ng-repeat="appts in appointmentList" ng-click="scheduleAppointment($index)">
                        <div class="appointment-cell">
                            {{appts.date | date : 'MMM d'}}
                        </div>
                        <div class="appointment-cell">
                            {{appts.date | date : 'shortTime'}}
                        </div>
                        <div class="appointment-cell">
                            Short (30 mins)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seperator-horizontal" ng-show="userStatus"></div>
    <div class="dashboard-section-wrapper" ng-show="userStatus">
        <p>
            Notes
        </p>
        <div class="report-card-container">
            <div class="report-card-entry" ng-repeat="notes in user.notes">
                <div class="entry-date">{{notes.date | date: 'MMM dd yyyy'}}</div>
                <div class="entry-text">{{notes.text}}</div>
            </div>
        </div>
    </div>
</div>
