<div class="dashboard-info-container">
    <div class="dashboard-section-wrapper">
        <canvas id="ett-graph" width="300" height="300"></canvas>
    </div>
    <div class="seperator-horizontal"></div>
    <div class="dashboard-section-wrapper">
        <p>
            NEXT APPOINTMENT
        </p>
        <div class="next-appointment-container">
            <h2>May 24th</h2>
            <h3>3:30 PM</h3>
            <h4>Short Appointment (30mins)</h4>
            <div class="dashboard-button-container">
                <div class="dashboard-button">Schedule</div>
                <div class="dashboard-button">Reschedule</div>
                <div class="dashboard-button">Cancel</div>
            </div>
        </div>
    </div>
    <div class="seperator-horizontal"></div>
    <div class="dashboard-section-wrapper">
        <p>
            REPORT CARD
        </p>
        <div class="report-card-container">
            <div class="report-card-entry">
                <div class="entry-date">April 15th 2016</div>
                <div class="entry-text">Johnny is stinky</div>
            </div>
            <div class="report-card-entry">
                <div class="entry-date">March 1 2016</div>
                <div class="entry-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </div>
            </div>
        </div>
    </div>
</div>
