<div class="dashboard-info-container">
    <div class="dashboard-section-wrapper" ng-show="!userStatus">
        <p class="pcenter">
            WELCOME TO THE PATIENT DASHBOARD
        </p>
        <div class="dashboard-button-container">
            <div class="dashboard-button">
                Schedule Free Consultation
            </div>
            <div class="dashboard-button">
                Download New Patient Paperwork
            </div>
        </div>
    </div>
    <div class="dashboard-section-wrapper" ng-show="userStatus">
        <canvas id="ett-graph" width="300" height="300"></canvas>
    </div>
    <div class="seperator-horizontal" ng-show="userStatus"></div>
    <div class="dashboard-section-wrapper" ng-show="userStatus">
        <p>
            NEXT APPOINTMENT
        </p>
        <div class="next-appointment-container">
            <h3 ng-show="!appointmentExists">No Appointments Scheduled</h3>
            <h2>{{user.appointment.date | date : 'MMM d'}}</h2>
            <h3>{{user.appointment.date | date : 'shortTime'}}</h3>
            <h4>{{user.appointment.duration}}{{user.appointment.type}} Appointment ({{user.appointment.duration}} mins)</h4>
            <div class="dashboard-button-container">

                <div class="dashboard-button" ng-show="appointmentExists">Reschedule</div>
                <div class="dashboard-button" ng-show="appointmentExists">Cancel Appointment</div>

            </div>
            <div class="schedule-appointment" ng-show="!appointmentExists">
                <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>

                <div class="dashboard-button" ng-click="getAppointments(myDate)" ng-show="!appointmentExists">View Appointments</div>

                <div class="appointment-table">
                    <div class="appointment-row" ng-repeat="appts in appointmentList" ng-click="scheduleAppointment($index)">
                        <div class="appointment-cell">
                            {{appts.date | date : 'MMM d'}}
                        </div>
                        <div class="appointment-cell">
                            {{appts.date | date : 'shortTime'}}
                        </div>
                        <div class="appointment-cell">
                            Short
                        </div>
                        <div class="appointment-cell">
                            <div class="schedule-button"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seperator-horizontal" ng-show="userStatus"></div>
    <div class="dashboard-section-wrapper" ng-show="userStatus">
        <p>
            Notes
        </p>
        <div class="report-card-container">
            <div class="report-card-entry">
                <div class="entry-date">April 15th 2016</div>
                <div class="entry-text">Johnny is stinky</div>
            </div>
            <div class="report-card-entry">
                <div class="entry-date">March 1 2016</div>
                <div class="entry-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                </div>
            </div>
        </div>
    </div>
</div>
