<div class="dashboard-info-container">
    <div class="dashboard-section-wrapper">
        <div class="line-item">
            <p class="balance-title">
                REMAINING BALANCE :
            </p>
            <div class="account-balance-info">
                ${{user.financial.initialbalance}}
            </div>
        </div>
        <div class="line-item">
            <p class="balance-title">
                BALANCE DUE :
            </p>
            <div class="account-balance-info">
                ${{user.financial.monthlypaymentamount}}
            </div>
        </div>
        <div class="line-item">
            <p class="balance-title">
                DUE BY :
            </p>
            <div class="account-balance-info">
                6/03/2016
            </div>
        </div>
        <div class="dashboard-button-container">
            <div class="dashboard-button">Make a Payment</div>
            <div class="dashboard-button">Setup AutoPay</div>
        </div>
    </div>
    <div class="seperator-horizontal"></div>

    <div class="dashboard-section-wrapper center-table">
        <p>
            Payment History
        </p>
        <div class="table-container">
            <table>
                <tr class="table-header">
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Transaction Date</th>
                </tr>
                <tr>
                    <td>91.00</td>
                    <td>Card</td>
                    <td>05/03/2016</td>
                </tr>
                <!-- <tr ng-repeat="payment in payments">
                    <tr>{{payment.amount}}</tr>
                    <tr>{{payment.type}}</tr>
                    <tr>{{payment.date}}</tr>
                </tr> -->
            </table>
        </div>

    </div>
</div>
