<div class="dashboard-info-container">
    <div class="dashboard-section-wrapper settings">

      <div class="account-info">
        <p>
          EMAIL
        </p>
        <div class="contact-info-container">
          <div class="contact-info" id="email-info" ng-show="!updateEmailBool" ng-dblclick="editEmail()">
            {{user.email}}
          </div>
          <input class="update-info-field" id="email-update" type="phone" ng-model="pendingEmailChange" ng-show="updateEmailBool">
          <div class="dashboard-button" ng-show="!updateEmailBool" ng-click=" editEmail()">edit</div>
          <div class="dashboard-button" ng-show="updateEmailBool" ng-click="updateUser('email', pendingEmailChange)">save</div>
        </div>
      </div>

      <div class="account-info">
        <p>
          PHONE
        </p>
        <div class="contact-info-container">
          <div class="contact-info" id="phone-info" ng-show="!updateNumberBool" ng-dblclick="editPhoneNumber()">
            {{user.phoneNumber}}
          </div>
          <input class="update-info-field" id="phone-update" type="text" ng-model="pendingPhoneNumberChange" ng-show="updateNumberBool">
          <div class="dashboard-button" ng-show="!updateNumberBool" ng-click="editPhoneNumber()">edit</div>
          <div class="dashboard-button" ng-show="updateNumberBool" ng-click="updateUser('phone', pendingPhoneNumberChange)">save</div>
        </div>
      </div>

    </div>
</div>
