<header class="header">
  <div class="header-contact-container">
    <p>
      Call Today: 555-555-5555
    </p>
    <div class="header-social-link" id="{{sociallink.id}}" ng-repeat="sociallink in sociallinks">
      <img ng-src="{{sociallink.path}}" alt="{{sociallink.alt}}" />
    </div>
  </div>
  <div class="header-banner-container">
    <video class="main-video" src="./assets/img/naturetimelapse.mp4" type="video/mp4" autoplay loop muted>
    </video>
    <div class="main-logo">
      <img src="./assets/img/demo-logo2.png" alt="logo" />
    </div>
  </div>
</header>
