
<section class="signin-container">
  <div class="form-selector">
    <div class="selector-button active" id="signinbtn">SIGN IN</div>
    <div class="selector-button inactive" id="signupbtn">SIGN UP</div>
    <div class="btn-underline-full"></div>
    <div class="btn-underline-half"></div>
  </div>
  <div class="local-signin">
    <form class="signin-form" action="index.html" method="post">
      <div class="signup-field name-field">
        <input class="input" type="text" placeholder="NAME">
        <div class="underline"></div>
      </div>
      <div>
        <input class="input" type="text" placeholder="EMAIL">
        <div class="underline"></div>
      </div>
      <div>
        <input class="input" type="password" placeholder="PASSWORD">
        <div class="underline"></div>
      </div>
      <div class="signup-field confirm-field">
        <input class="input" type="text" placeholder="CONFIRM PASSWORD">
        <div class="underline"></div>
      </div>
      <a href="#" class="forgot-password">Forgot Passsword ?</a>
      <button class="sign-btn">SIGN IN</button>
    </form>
  </div>
</section>
